<a href="https://colab.research.google.com/github/n1k0san/Better-world/blob/main/Dream_team0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [48]:
# Standard stuff
import pandas as pd #for manipulating data
import numpy as np #for manipulating data

# Dataviz
import matplotlib.pyplot as plt #for custom graphs at the end
import seaborn as sns #for custom graphs at the end

# Altair
import altair as alt

# Other tooling
# import os #needed to use Environment Variables in Domino

# UML
# from sklearn.preprocessing import StandardScaler # import and instantiate scaler

# SML
# import sklearn #for building models
# import xgboost as xgb #for building models
# import sklearn.ensemble #for building models
# from sklearn.model_selection import train_test_split #for creating a hold-out sample
# from sklearn import datasets # Boston Housing Data

In [49]:
jobs = pd.read_csv('https://raw.githubusercontent.com/fr3drikk/the_dream_team-/main/App/Data/jobs.csv')

### Looking through general info from the data

In [50]:
# First we check the shape of the data.
jobs.shape

(84090, 22)

In [51]:
# Secondly we check the dataset for what object is.
jobs

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Longitude,Industry,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,-122.161170,Food and Beverages,NaN,8.00,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,-122.404268,Food and Beverages,NaN,0.00,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,-122.402963,Food and Beverages,NaN,11.00,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC
3,121,1,open,brisbane-ca-teriyaki-house-server,Server @ Teriyaki House,Server,Teriyaki House,Brisbane,California,CA,...,-122.400275,Food and Beverages,NaN,10.55,NaN,NaN,Part-Time,NaN,2013-09-04 15:40:30 UTC,2014-08-16 15:35:38 UTC
4,127,1,open,los-angeles-ca-rosa-mexicano-sunset-kitchen-st...,Kitchen Staff/Chef @ Rosa Mexicano - Sunset,Kitchen Staff/Chef,Rosa Mexicano - Sunset,Los Angeles,California,CA,...,-118.460439,Food and Beverages,NaN,10.55,NaN,NaN,Part-Time,NaN,2013-07-17 15:26:18 UTC,2014-08-16 15:35:40 UTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84085,82,1,open,san-francisco-ca-national-japanese-american-hi...,Book Keeper @ National Japanese American Histo...,Book Keeper,National Japanese American Historical Society,San Francisco,California,CA,...,-122.429495,Office Administration,NaN,20.00,NaN,NaN,Part-Time,NaN,2013-03-20 06:35:01 UTC,2014-08-16 15:35:27 UTC
84086,83,1,open,larkspur-ca-emporio-rulli-kitchen-staff-chef,Kitchen Staff/Chef @ Emporio Rulli,Kitchen Staff/Chef,Emporio Rulli,Larkspur,California,CA,...,-122.535025,Food and Beverages,NaN,10.55,NaN,NaN,Part-Time,NaN,2013-03-20 08:06:43 UTC,2014-08-16 15:35:27 UTC
84087,84,1,open,san-francisco-ca-onigilly-driver-84,Driver @ Onigilly,Driver,Onigilly,San Francisco,California,CA,...,-122.404413,Food and Beverages,NaN,11.00,NaN,NaN,Part-Time,NaN,2013-03-12 01:47:13 UTC,2014-08-16 15:35:27 UTC
84088,88,1,open,san-francisco-ca-machka-restaurants-corp-line-...,Line Cook @ Machka Restaurants Corp.,Line Cook,Machka Restaurants Corp.,San Francisco,California,CA,...,-122.402963,Food and Beverages,NaN,13.00,NaN,NaN,Part-Time,NaN,2013-07-16 08:55:22 UTC,2014-08-16 15:35:28 UTC
84089,92,1,open,san-jose-ca-kazoo-restaurant-cashier,Cashier @ Kazoo Restaurant,Cashier,Kazoo Restaurant,San Jose,California,CA,...,-121.893302,Food and Beverages,NaN,10.00,NaN,NaN,Part-Time,NaN,2013-03-27 09:35:04 UTC,2014-08-16 15:35:30 UTC

In [52]:
# Checking how the data looks: From the data, we see that there are several columns with NaN values, such as; Requirements, Listing.Start, Listing.End. 

jobs.head()

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Longitude,Industry,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,-122.161170,Food and Beverages,NaN,8.00,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,-122.404268,Food and Beverages,NaN,0.00,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,-122.402963,Food and Beverages,NaN,11.00,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC
3,121,1,open,brisbane-ca-teriyaki-house-server,Server @ Teriyaki House,Server,Teriyaki House,Brisbane,California,CA,...,-122.400275,Food and Beverages,NaN,10.55,NaN,NaN,Part-Time,NaN,2013-09-04 15:40:30 UTC,2014-08-16 15:35:38 UTC
4,127,1,open,los-angeles-ca-rosa-mexicano-sunset-kitchen-st...,Kitchen Staff/Chef @ Rosa Mexicano - Sunset,Kitchen Staff/Chef,Rosa Mexicano - Sunset,Los Angeles,California,CA,...,-118.460439,Food and Beverages,NaN,10.55,NaN,NaN,Part-Time,NaN,2013-07-17 15:26:18 UTC,2014-08-16 15:35:40 UTC

In [53]:
# We will look through the data to see to what extend we have missing values next.
# We use sum() and sort_values to get a descending list.
jobs.isna().sum().sort_values()

Job.ID                    0
Longitude                 0
Latitude                  0
Created.At                0
Position                  0
Updated.At                0
Slug                      0
Status                    0
Provider                  0
Title                     0
Employment.Type          10
City                    135
Listing.End             167
State.Name              171
State.Code              171
Education.Required      267
Listing.Start           683
Company                2271
Industry              83823
Salary                83861
Address               84054
Requirements          84090
dtype: int64

In [54]:
# Looking here, we can see 4 columns that are irellevant, as they are mostly empty. These are: Salary, Industry, Requirements and Address
# We therefore elect to drop them from the dataset. 
jobs = jobs.drop(['Industry', 'Salary', 'Address', 'Requirements'], axis=1)

In [55]:
# We check that we successfully dropped the columns.
jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84090 entries, 0 to 84089
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job.ID              84090 non-null  int64
 1   Provider            84090 non-null  int64
 2   Status              84090 non-null  object
 3   Slug                84090 non-null  object
 4   Title               84090 non-null  object
 5   Position            84090 non-null  object
 6   Company             81819 non-null  object
 7   City                83955 non-null  object
 8   State.Name          83919 non-null  object
 9   State.Code          83919 non-null  object
 10  Latitude            84090 non-null  float64
 11  Longitude           84090 non-null  float64
 12  Listing.Start       83407 non-null  object
 13  Listing.End         83923 non-null  object
 14  Employment.Type     84080 non-null  object
 15  Education.Required  83823 non-null  object
 16  Created.At          84090 non-null  object
 17  Updated.At          84090 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 11.5+ MB

In [56]:
# As we see, there are still values which are NaN, as they don't constitute a large part of the dataset, we elect to remove those as well.
jobs.isna().sum().sort_values()

Job.ID                   0
Longitude                0
Latitude                 0
Created.At               0
Position                 0
Updated.At               0
Slug                     0
Status                   0
Provider                 0
Title                    0
Employment.Type         10
City                   135
Listing.End            167
State.Code             171
State.Name             171
Education.Required     267
Listing.Start          683
Company               2271
dtype: int64

In [57]:

jobs = jobs.dropna()

In [58]:
# Our total dataset row-size ends up being 80865, which is acceptable, as it is not even a 10% loss of data. 
jobs.shape

(80865, 18)

### Looking through all the variables

In [59]:
# We check the data-types of each variable.
jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80865 entries, 8 to 83980
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job.ID              80865 non-null  int64
 1   Provider            80865 non-null  int64
 2   Status              80865 non-null  object
 3   Slug                80865 non-null  object
 4   Title               80865 non-null  object
 5   Position            80865 non-null  object
 6   Company             80865 non-null  object
 7   City                80865 non-null  object
 8   State.Name          80865 non-null  object
 9   State.Code          80865 non-null  object
 10  Latitude            80865 non-null  float64
 11  Longitude           80865 non-null  float64
 12  Listing.Start       80865 non-null  object
 13  Listing.End         80865 non-null  object
 14  Employment.Type     80865 non-null  object
 15  Education.Required  80865 non-null  object
 16  Created.At          80865 non-null  object
 17  Updated.At          80865 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 11.7+ MB

In [60]:
# Change We change the columns which correspond to date, from object to timebased. 

jobs['Listing.Start'] = pd.to_datetime(jobs['Listing.Start'])
jobs['Listing.End'] = pd.to_datetime(jobs['Listing.End'])

In [61]:
# We do the same for the Created and Updated columns
jobs['Created.At'] = pd.to_datetime(jobs['Created.At'])
jobs['Updated.At'] = pd.to_datetime(jobs['Updated.At'])

In [62]:
# We check to make sure that the formats have been changed correctly, and see that Listing columns are correctly formatted. 
# This is also the case for Created columns, and the time of day has been correctly taken into account
jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80865 entries, 8 to 83980
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job.ID              80865 non-null  int64
 1   Provider            80865 non-null  int64
 2   Status              80865 non-null  object
 3   Slug                80865 non-null  object
 4   Title               80865 non-null  object
 5   Position            80865 non-null  object
 6   Company             80865 non-null  object
 7   City                80865 non-null  object
 8   State.Name          80865 non-null  object
 9   State.Code          80865 non-null  object
 10  Latitude            80865 non-null  float64
 11  Longitude           80865 non-null  float64
 12  Listing.Start       80865 non-null  datetime64[ns]
 13  Listing.End         80865 non-null  datetime64[ns]
 14  Employment.Type     80865 non-null  object
 15  Education.Required  80865 non-null  object
 16  Created.At          80865 non-null  datetime64[ns, UTC]
 17  Updated.At          80865 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](2), datetime64[ns](2), float64(2), int64(2), object(10)
memory usage: 11.7+ MB

In [63]:
# Next we look into unique values to find out if any of the variables makes sense to transform into more meaningful values
user_view

,Applicant.ID,Job.ID,Title,Company,City,State.Name,State.Code,Industry,View.Start,View.End,View.Duration,Created.At,Updated.At
0,10000,73666,Cashiers & Valets Needed! @ WallyPark,WallyPark,Newark,New Jersey,NJ,NaN,2014-12-12 20:12:35 UTC,2014-12-12 20:31:24 UTC,1129.0,2014-12-12 20:12:35 UTC,2014-12-12 20:12:35 UTC
1,10000,96655,Macy's Seasonal Retail Fragrance Cashier - Ga...,Macy's,Garden City,New York,NY,NaN,2014-12-12 20:08:50 UTC,2014-12-12 20:10:15 UTC,84.0,2014-12-12 20:08:50 UTC,2014-12-12 20:08:50 UTC
2,10001,84141,Part Time Showroom Sales / Cashier @ Grizzly I...,Grizzly Industrial Inc.,Bellingham,Washington,WA,NaN,2014-12-12 20:12:32 UTC,2014-12-12 20:17:18 UTC,286.0,2014-12-12 20:12:32 UTC,2014-12-12 20:12:32 UTC
3,10002,77989,Event Specialist Part Time @ Advantage Sales &...,Advantage Sales & Marketing,Simpsonville,South Carolina,SC,NaN,2014-12-12 20:39:23 UTC,2014-12-12 20:42:13 UTC,170.0,2014-12-12 20:39:23 UTC,2014-12-12 20:39:23 UTC
4,10002,69568,Bonefish - Kitchen Staff @ Bonefish Grill,Bonefish Grill,Greenville,South Carolina,SC,NaN,2014-12-12 20:43:25 UTC,2014-12-12 20:43:58 UTC,33.0,2014-12-12 20:43:25 UTC,2014-12-12 20:43:25 UTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12365,9997,166,Server @ A La Turca,A La Turca,San Francisco,California,CA,Food and Beverages,2014-12-12 21:00:10 UTC,2014-12-12 21:00:25 UTC,14.0,2014-12-12 21:00:10 UTC,2014-12-12 21:00:10 UTC
12366,9997,531,Server @ Oola Restaurant & Bar,Oola Restaurant & Bar,San Francisco,California,CA,Food and Beverages,2014-12-12 21:00:47 UTC,2014-12-12 21:00:58 UTC,10.0,2014-12-12 21:00:47 UTC,2014-12-12 21:00:47 UTC
12367,9997,33,Server @ Haven,Haven,Oakland,California,CA,Food and Beverages,2014-12-12 21:01:20 UTC,2014-12-12 21:01:26 UTC,5.0,2014-12-12 21:01:20 UTC,2014-12-12 21:01:20 UTC
12368,9997,517,Server @ SAM's Diner,SAM's Diner,San Francisco,California,CA,Food and Beverages,2014-12-12 21:02:07 UTC,2014-12-12 21:02:17 UTC,10.0,2014-12-12 21:02:07 UTC,2014-12-12 21:02:07 UTC
12369,9997,517,Server @ SAM's Diner,SAM's Diner,San Francisco,California,CA,Food and Beverages,2014-12-12 21:02:29 UTC,2014-12-12 21:39:02 UTC,2192.0,2014-12-12 21:02:29 UTC,2014-12-12 21:02:29 UTC

In [64]:
# We chose to look into Employment.Type and Education.Required, as those two don't have a massive amount of unique values. 
jobs['Employment.Type'].unique()

array(['Part-Time', 'Full-Time/Part-Time', 'Seasonal/Temp', 'Per Diem',
       'Intern', 'Full-Time'], dtype=object)

In [65]:
# As we can see, there are some lables that are duplicates, like "Temporary/seasonal" and "Seasonal/Temp". 
# We combine the two into one label. 
jobs['Employment.Type'] = jobs['Employment.Type'].replace(['Seasonal/Temp'], 'Temporary/seasonal')

In [66]:
# We also change nan labels into str: Unspecified.
jobs['Employment.Type'] = jobs['Employment.Type'].fillna('Unspecified')

In [67]:
# Next we look at Education Required. Here we see that nan, Not Specified, are basically the same labels. 
jobs['Education.Required'].unique()

array(['Not Specified', 'High School Diploma', "Master's Degree",
       'Associate Degree', "Bachelor's Degree"], dtype=object)

In [68]:
# Here we fill the nan values with the value 'Unspecified', thereby converting it to a str-value.
jobs['Education.Required'] = jobs['Education.Required'].fillna('Unspecified')

In [69]:
# Next we replace 'Not Specified' with 'Unspecified' thereby collecting both labels into one label.
jobs['Education.Required'] = jobs['Education.Required'].replace(['Not Specified'] , 'Unspecified')

In [70]:
# Lastly we check that everything went according to plan.
jobs['Education.Required'].unique()

array(['Unspecified', 'High School Diploma', "Master's Degree",
       'Associate Degree', "Bachelor's Degree"], dtype=object)

In [71]:
# We group the positions that are similar to each other

# Customer service
jobs['Position'] = jobs['Position'].replace(['Customer Service Representative'] , 'Customer Service')
jobs['Position'] = jobs['Position'].replace(['Customer Service / Sales ( New Grads Welcome!)'] , 'Customer Service')
jobs['Position'] = jobs['Position'].replace(['Customer Service / Sales ( New Grads Welcome! )'] , 'Customer Service')
jobs['Position'] = jobs['Position'].replace(['Entry Level Sales / Customer Service – Part time / Full Time'] , 'Customer Service')

# Accounting
jobs['Position'] = jobs['Position'].replace(['Accounts Payable Clerk'] , 'Accounting')
jobs['Position'] = jobs['Position'].replace(['Accounting Clerk'] , 'Accounting')
jobs['Position'] = jobs['Position'].replace(['Accounts Receivable Clerk'] , 'Accounting')
jobs['Position'] = jobs['Position'].replace(['Bookkeeper'] , 'Accounting')
jobs['Position'] = jobs['Position'].replace(['Full Charge Bookkeeper'] , 'Accounting')
jobs['Position'] = jobs['Position'].replace(['Payroll Clerk'] , 'Accounting')
jobs['Position'] = jobs['Position'].replace(['Billing Clerk'] , 'Accounting')
jobs['Position'] = jobs['Position'].replace(['Payroll Administrator'] , 'Accounting')
jobs['Position'] = jobs['Position'].replace(['Staff Accountant'] , 'Accounting')
jobs['Position'] = jobs['Position'].replace(['Senior Accountant'] , 'Accounting')

# Sales
jobs['Position'] = jobs['Position'].replace(['Sales Representative / Sales Associate ( Entry Level )'] , 'Sales')
jobs['Position'] = jobs['Position'].replace(['Sales Associate'] , 'Sales')
jobs['Position'] = jobs['Position'].replace(['Seasonal Wedding Sales Stylist'] , 'Sales')
jobs['Position'] = jobs['Position'].replace(['Retail Sales Associate - Part-Time'] , 'Sales')
jobs['Position'] = jobs['Position'].replace(['Retail Sales Associate'] , 'Sales')

# Administration
jobs['Position'] = jobs['Position'].replace(['Administrative Assistant'] , 'Administration')
jobs['Position'] = jobs['Position'].replace(['Receptionist'] , 'Administration')
jobs['Position'] = jobs['Position'].replace(['Front Desk Coordinator'] , 'Administration')
jobs['Position'] = jobs['Position'].replace(['Executive Assistant'] , 'Administration')
jobs['Position'] = jobs['Position'].replace(['General Office Clerk '] , 'Administration')
jobs['Position'] = jobs['Position'].replace(['Office Assistant'] , 'Administration')
jobs['Position'] = jobs['Position'].replace(['Medical Receptionist'] , 'Administration')



# Restaurant
jobs['Position'] = jobs['Position'].replace(['Bartender'] , 'Restaurant personnel')
jobs['Position'] = jobs['Position'].replace(['Server'] , 'Restaurant personnel')
jobs['Position'] = jobs['Position'].replace(['Kitchen Staff'] , 'Restaurant personnel')
jobs['Position'] = jobs['Position'].replace(['Hiring All Restaurant Positions - Servers - Cooks - Bartenders'] , 'Restaurant personnel')
jobs['Position'] = jobs['Position'].replace(['Cook'] , 'Restaurant personnel')
jobs['Position'] = jobs['Position'].replace(['Kitchen Staff'] , 'Restaurant personnel')


# Caregiving
jobs['Position'] = jobs['Position'].replace(['Caregiver / Home Health Aide / CNA'] , 'Caregiving professional')
jobs['Position'] = jobs['Position'].replace(['Registered Nurse'] , 'Caregiving professional')
jobs['Position'] = jobs['Position'].replace(['Home Health Aide'] , 'Caregiving professional')
jobs['Position'] = jobs['Position'].replace(['Certified Nursing Assistant'] , 'Caregiving professional')
jobs['Position'] = jobs['Position'].replace(['Entry Level Caregiver / Home Health Aide'] , 'Caregiving professional')
jobs['Position'] = jobs['Position'].replace(['Caregiving'] , 'Caregiving professional')
jobs['Position'] = jobs['Position'].replace(['Entry Level Caregiver'] , 'Caregiving professional')
jobs['Position'] = jobs['Position'].replace(['Entry Level Healthcare Professionals wanted for Caregiver Opportunities'] , 'Caregiving professional')
jobs['Position'] = jobs['Position'].replace(['Registered Nurse (RN) / Licensed Practical Nurse (LPN) - Healthcare Nursing Staff'] , 'Caregiving professional')
jobs['Position'] = jobs['Position'].replace(['Licensed Practical Nurse - LPN'] , 'Caregiving professional')
jobs['Position'] = jobs['Position'].replace(['Physical Therapist'] , 'Caregiving professional')
jobs['Position'] = jobs['Position'].replace(['Certified Nursing Assistant (CNA) - Healthcare Nursing Staff'] , 'Caregiving professional')




# Human resources
jobs['Position'] = jobs['Position'].replace(['Human Resources Assistant'] , 'Human resources')
jobs['Position'] = jobs['Position'].replace(['Human Resources Recruiter'] , 'Human resources')
jobs['Position'] = jobs['Position'].replace([''] , 'Human resources')


# Retail professional
jobs['Position'] = jobs['Position'].replace(['Retail Sales Associate – Part-Time'] , 'Retail professional')
jobs['Position'] = jobs['Position'].replace(['Retail Sales Associate / Photographer'] , 'Retail professional')
jobs['Position'] = jobs['Position'].replace(['Retail Sales Associate - Part Time'] , 'Retail professional')
jobs['Position'] = jobs['Position'].replace(['Part Time Retail Merchandiser'] , 'Retail professional')
jobs['Position'] = jobs['Position'].replace(['Sales Representative - Retail'] , 'Retail professional')

# Teacher 
jobs['Position'] = jobs['Position'].replace(['Assistant Teacher'] , 'Teacher employee')
jobs['Position'] = jobs['Position'].replace(['Teacher'] , 'Teacher employee')
jobs['Position'] = jobs['Position'].replace([''] , 'Teacher employee')


# Security officer
jobs['Position'] = jobs['Position'].replace(['Security Officer'] , 'Security officer')
jobs['Position'] = jobs['Position'].replace(['Security Officer - Regular'] , 'Security officer')
jobs['Position'] = jobs['Position'].replace([''] , 'Security officer')
jobs['Position'] = jobs['Position'].replace([''] , 'Security officer')
jobs['Position'] = jobs['Position'].replace([''] , 'Security officer')

# Driver professional
jobs['Position'] = jobs['Position'].replace(['Part Time School Bus Drivers WANTED - Training Available'] , 'Driver professional')
jobs['Position'] = jobs['Position'].replace(['Delivery Driver (Part -Time)'] , 'Driver professional')
jobs['Position'] = jobs['Position'].replace(['School Bus Driver'] , 'Driver professional')
jobs['Position'] = jobs['Position'].replace(['Driver'] , 'Driver professional')
jobs['Position'] = jobs['Position'].replace([''] , 'Driver professional')

# ?

In [72]:
jobs = jobs[jobs['Position'].isin(['Customer Service', 'Accounting','Sales', 'Administration', 'Restaurant personnel', 'Caregiving professional', 'Human resources', 'Retail professional', 'Teacher employee','Security officer', 'Driver professional'])]

In [73]:
jobs['Position'].shape

(16574,)

In [74]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import itertools

In [75]:
ohe_jobs = OneHotEncoder(sparse=False)

In [76]:
X = jobs['Position'].array.reshape(-1,1)

In [77]:
jobs_ohe = ohe_jobs.fit_transform(X)

In [78]:
columns_jobs_ohe = list(itertools.chain(*ohe_jobs.categories_))

In [79]:
position_cat = pd.DataFrame(jobs_ohe, columns = columns_jobs_ohe)

In [80]:



position_cat

,Accounting,Administration,Caregiving professional,Customer Service,Driver professional,Human resources,Restaurant personnel,Retail professional,Sales,Security officer,Teacher employee
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
16569,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16570,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16571,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16572,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16573,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
X.index = range(len(X))
position_cat.index = range(len(position_cat))

In [82]:
jobs['Position'].nunique()

11

In [83]:
ohe_state = OneHotEncoder(sparse=False)

In [84]:
X2 = jobs['State.Name'].array.reshape(-1,1)

In [85]:
state_ohe = ohe_state.fit_transform(X2)

In [86]:
columns_state_ohe = list(itertools.chain(*ohe_state.categories_))

In [87]:
state_cat = pd.DataFrame(state_ohe, columns = columns_state_ohe)

In [88]:
state_cat

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16571,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16572,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [89]:
ohe_city = OneHotEncoder(sparse=False)

In [90]:
X3 = jobs['City'].array.reshape(-1,1)

In [91]:
city_ohe = ohe_city.fit_transform(X3)

In [92]:
columns_city_ohe = list(itertools.chain(*ohe_city.categories_))

In [93]:
city_cat = pd.DataFrame(city_ohe, columns = columns_city_ohe)

In [94]:
city_cat.shape

(16574, 2604)

In [95]:
city_cat

,Abbeville,Aberdeen,Abingdon,Abington,Acton,Acworth,Ada,Adams,Adamsburg,Addison,...,York,York Harbor,Yorktown,Youngstown,Youngsville,Ypsilanti,Zanesville,Zelienople,Zellwood,Zionsville
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16572,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [97]:
X.index = range(len(X_merged))
X_merged.index = range(len(X_merged))

NameError: ignored

In [ ]:
X_merged = pd.concat([position_cat, state_cat], axis=1)

In [ ]:
y =  jobs['Job.ID'].reset_index(drop=True)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_merged, y, test_size=0.2)

In [ ]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics.pairwise import cosine_distances

In [ ]:
model_xgb = XGBRegressor()

In [ ]:
model_xgb.fit(X_train, y_train)

In [ ]:
print('Model XGB' + ' ' + str(model_xgb.score(X_train, y_train)))

In [ ]:
y_pred_train = model_xgb.predict(X_train)

In [ ]:
mean_squared_error(y_train, y_pred_train, squared=False)

### Cosine

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
import scipy.sparse as ss

In [ ]:
le_slug = LabelEncoder()
le_state = LabelEncoder()
le_pos = LabelEncoder()

In [ ]:
cosine_df = jobs[['State.Name', 'Position', 'Slug']]

In [ ]:
cosine_df['slug_id'] = le_slug.fit_transform(cosine_df['Slug'])

In [ ]:
cosine_df['state_id'] = le_state.fit_transform(cosine_df['State.Name'])

In [ ]:
cosine_df['pos_id'] = le_pos.fit_transform(cosine_df['Position'])

In [ ]:
ones = np.ones(len(cosine_df), np.uint32)

In [ ]:
matrix = ss.coo_matrix((ones, (cosine_df['slug_id'], cosine_df['pos_id'])))

In [ ]:
matrix.todense()

In [ ]:
cosine_distance_matrix_places = cosine_distances(matrix)

In [ ]:
cosine_distance_matrix_places.shape

In [ ]:
np.where(matrix.todense()[1] == 1)

In [ ]:
cosine_df[cosine_df['slug_id'] == 3]

In [ ]:
jobs['Position'].value_counts().nlargest(50)  # missing caregiving, teacher, restaurant

In [ ]:
# Try to implement One hot encoding in City and State.Name columns
label_enconder_jobs = LabelEncoder()

In [ ]:
jobs[:, 7] = label_enconder_jobs.fit_transform(jobs[:, 7])

### Test tabulation etc etc

In [ ]:
jobs.info()

In [ ]:
pd.crosstab(jobs['Position'], jobs['State.Name'])

In [ ]:
crosstab_jobs = pd.crosstab(jobs['Title'], jobs['State.Name'])

In [ ]:
# Try to implement content based recommendation system using jaccard similarity, finding similarity between the rows in jobs
# import jaccard_score
# Import pdist, squareform
from sklearn.metrics import jaccard_score
from scipy.spatial.distance import pdist, squareform

In [ ]:
jaccard_distances = pdist(crosstab_jobs.values, metric='jaccard')

In [ ]:
jaccard_similarity_array = 1 - squareform(jaccard_distances)

In [ ]:
jaccard_similarity_df = pd.DataFrame(jaccard_similarity_array, index=crosstab_jobs.index, columns=crosstab_jobs.index)

In [ ]:
print(jaccard_similarity_df.head())

In [ ]:
jaccard_similarity_series = jaccard_similarity_df.loc['Accounting @ Confidential']

In [ ]:
ordered_similarities = jaccard_similarity_series.sort_values(ascending=False)

In [ ]:
print(ordered_similarities)

In [ ]:
# trying text based similarities
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidfvec = TfidfVectorizer(min_df=2, max_df=0.7)

In [ ]:
vectorized_data = tfidfvec.fit_transform(jobs['Slug'])

In [ ]:
print(tfidfvec.get_feature_names)

In [ ]:
vectorizer = TfidfVectorizer()

In [ ]:
X = vectorizer.fit_transform(jobs['Slug'])

In [ ]:
vectorizer.get_feature_names_out()

In [ ]:
print(X.shape)

In [ ]:
print(tfidfvec.get_feature_names)

In [ ]:
print(X.to_array())

#### User Job views

In [ ]:
user_view = pd.read_csv('https://raw.githubusercontent.com/fr3drikk/the_dream_team-/main/App/Data/user_job_views.csv')

In [ ]:
user_view.shape

In [ ]:
user_view.head()

In [ ]:
user_view.info()

In [ ]:
user_view.isna().sum().sort_values()

In [ ]:
user_view = user_view.drop(['Industry'], axis=1)

In [ ]:
user_view['Company'] = user_view['Company'].fillna('Unspecified')

In [ ]:
user_view.isna().sum().sort_values()

In [ ]:
user_view  = user_view.dropna(subset=['State.Name'])

In [ ]:
# we calculate the mean of the duration and fill the missing values with it
user_view['View.Duration'] = user_view['View.Duration'].fillna(user_view['View.Duration'].mean())

In [ ]:
# we change the form of created at, updated at, view start, view end, from objects to datetime
user_view['Created.At'] = pd.to_datetime(user_view['Created.At'])
user_view['Updated.At'] = pd.to_datetime(user_view['Updated.At'])

In [ ]:
user_view['View.Start'] = pd.to_datetime(user_view['View.Start'])
user_view['View.End'] = pd.to_datetime(user_view['View.End'])

In [ ]:
# it works : )
user_view.info()

In [ ]:
# we decided to not care about view end, since we have view start and the duration, that is sufficient.
user_view['View.Duration'].head()

In [ ]:
# it works : )
user_view.info()

In [ ]:
# it works : )
user_view.info()

In [ ]:
# To figure out how many articles a user views on average, we have to see how many times a specific Applicant.iD has been stored.
# We make a new variable, application_counts, where how many times a value occurs is stored. 
applicant_counts  = pd.value_counts(user_view['Applicant.ID'])

In [ ]:
# We then take the mean of this list, and get the average views a user has.
applicant_counts.mean()

### User experience

In [ ]:
user_exp = pd.read_csv('https://raw.githubusercontent.com/fr3drikk/the_dream_team-/main/App/Data/user_past_experience.csv')

In [ ]:
df.merge

In [ ]:
user_exp.shape

In [ ]:
user_exp.head()

In [ ]:
user_exp.isna().sum().sort_values()

In [ ]:
user_exp['Position.Name'].value_counts()

### User work interest

In [ ]:
user_int = pd.read_csv('https://raw.githubusercontent.com/fr3drikk/the_dream_team-/main/App/Data/user_work_interest.csv')

In [ ]:
user_int['Position.Of.Interest'].value_counts().nlargest(10)

In [ ]:
½user_int['Position.Of.Interest'].value_counts().nlargest(20)

In [ ]:
user_int.isna().sum().sort_values()

In [ ]:
user_int.shape

In [ ]:
user_int.head()

In [ ]:
user_int['Applicant.ID'].nunique()

### EDA STUFF

# on average a user looks at x jobposts

In [ ]:
# To figure out how many articles a user views on average, we have to see how many times a specific Applicant.iD has been stored.
# We make a new variable, application_counts, where how many times a value occurs is stored. 
applicant_counts  = pd.value_counts(user_view['Applicant.ID'])

In [ ]:
# We then take the mean of this list, and get the average views a user has.
applicant_counts.mean()

## How long are articles seen on average

In [ ]:
#As we can see, we have quite a high mean of 2522 seconds pr. article.
user_view['View.Duration'].mean()

In [ ]:
# We check the boxplot of the View Duration and we notice that there are some outliers that could be heavily impacting this score.
user_view.boxplot('View.Duration')

In [ ]:
# Here we mask every value in View.Duration that falls outside the 95th quantile and 05th quantile. If there are values as such, they will be changed to NaN
user_view['View.Duration'] = user_view['View.Duration'].mask(((user_view['View.Duration']< user_view['View.Duration'].quantile(0.05)) | (user_view['View.Duration'] > user_view['View.Duration'].quantile(0.95))), np.nan)

In [ ]:
# Here we check how many values fell outside the quantile range.
user_view['View.Duration'].isna().sum()

In [ ]:
# We import Sklearn SimpleImputer, to fill the missing values. 
from sklearn.impute import SimpleImputer

In [ ]:
# We instantiate the simple imputer, to convert the values back to the median. The median is chosen since the mean is quite high.
imputer = SimpleImputer(missing_values=np.NaN, strategy='median')

In [ ]:
user_view['View.Duration'] = imputer.fit_transform(user_view['View.Duration'].values.reshape(-1,1))[:,0]

In [ ]:
user_view['View.Duration'].mean()

In [ ]:
# a correlation matrix between education required and jobpositions (requires grouping of positions)

In [ ]:
##### text recognizitionon stuff ^

In [ ]:
# timeline with the development of jobposts , e.g. over weeks , months , years , fulltime/parttime , states , slider

In [ ]:
# seasonal peaks of jobposts ^ summer,winter,fall ETC

In [ ]:
# geoplotting , location of jobs , statebased perhaps, interactive map where you can hoover over and see the information in ze map

In [ ]:
# grade 10 , map with your recommended jobs

In [ ]:
# extra stuff for nice frontend, like a tab with cv stuff n stuff

In [ ]:
# most popular jobposts (views), compared with duration users spend on those posts, bait titles or actually interesting?

In [ ]:
# companies with most jobposts, big companies? small companies with high turnover rates? etc,

In [ ]:
company_job = jobs.groupby(['Job.ID', 'Company']).size().sort_values(ascending=True).reset_index(name='count')

In [ ]:
# to group some of our variables

# NHN

## Geoplotting

In [ ]:
# geoplotting with pydeck

# additional imports
!pip install pydeck -q
import pydeck as pdk

# defining the map
layer = pdk.Layer(
        "ScatterplotLayer",
        data=jobs[['Company','Position','State.Name', 'City', 'Employment.Type', "Longitude", "Latitude"]],
        pickable=True,
        opacity=0.7,
        stroked=True,
        filled=True,
        radius_scale=10,
        radius_min_pixels=1,
        radius_max_pixels=100,
        line_width_min_pixels=1,
        get_position=["Longitude", "Latitude"],
        get_radius="exits_radius",
        get_color=[255, 140, 0],
        get_line_color=[0, 0, 0],
    )


# Set the viewport location
view_state = pdk.ViewState(latitude=jobs['Latitude'].mean(), longitude=jobs['Longitude'].mean(), zoom=4, pitch=50)

# Renders
jobs_map = pdk.Deck(layers=[layer], 
initial_view_state=view_state,

#map_style='mapbox://styles/mapbox/light-v9',
tooltip={"text": "Company: {Company}\nPosition: {Position}\n Employment type: {Employment.Type}"})

In [ ]:
jobs_map

In [ ]:
# geoplotting with folium

# Installs
!pip install folium

# Import folium and plugins from folium to create the map
import folium
from folium.plugins import MarkerCluster

In [ ]:
# Create a sample from the jobs dataframe. The dataframe of 80.0000 rows is too big for the map to handle (it will run but not show any map)
# Testing so far shows that a sample of 20.000 rows is manageable, whereas 30.000 rows is too many

jobs_map_data = jobs.sample(10000)

In [ ]:
# Define a marker cluster

marker_cluster = MarkerCluster(
    name='Jobs Map',
    overlay=True,
    control=False,
    icon_create_function=None,
    showCoverageOnHover = False
)

In [ ]:
#define the map
jobs_map_pydeck = folium.Map(location=[40.742, -73.956])

#add prettier base-layer
folium.TileLayer('cartodbpositron').add_to(jobs_map_pydeck)

#add points (in a loop)
for j in jobs_map_data.iterrows(): # <--- using the whole dataset
    marker = folium.Circle(
        radius=10,
        location=[j[1]['Latitude'], j[1]['Longitude']],
        tooltip=j[1]['Company'],
        popup= (f"<b>{j[1]['Company']}</b>\n {j[1]['Position']}</b>\n {j[1]['Employment.Type']}"),
        color='purple',
        fill=True
    )
    marker_cluster.add_child(marker) # <<--- here we add the marker to the cluster rather than to the map directly

marker_cluster.add_to(jobs_map_pydeck)

locations = zip(jobs_map_data['Latitude'], jobs_map_data['Longitude'])

In [ ]:
jobs_map_pydeck

## Various metrics

In [ ]:
# calculating various metrics
open_positions = jobs['Job.ID'].nunique()
companies_hiring = jobs['Company'].nunique()
active_jobhunters = user_view['Applicant.ID'].nunique()
avg_job_posts_viewed_per_jobhunter = (user_view['Job.ID'].value_counts().sum() / user_view['Applicant.ID'].nunique()).round(2)
avg_viewtime_per_job_post = (user_view['View.Duration'].mean() / 60).round(2)

In [ ]:
print(open_positions)
print(companies_hiring)
print(active_jobhunters)
print(avg_job_posts_viewed_per_jobhunter)
print(avg_viewtime_per_job_post) # value is different from streamlit because Casper's outlier removal is applied here

## Timeline of job postings

In [ ]:
# creating a pivot table with rows=date, columns=employment.type and values=counts in order to visualize a timeline dividable by employment type

jobs['Date'] = pd.to_datetime(jobs['Created.At']).dt.date
jobs_pivot = pd.pivot_table(jobs, values='Job.ID', index='Date', columns='Employment.Type', aggfunc='count')

In [ ]:
jobs_pivot

In [ ]:
# visualizing the pivot table

import plotly.express as px # additional import

jobs_pivot_plot = px.line(jobs_pivot)
jobs_pivot_plot.show()

## Top five

In [ ]:
top_5_companies = jobs['Company'].value_counts().nlargest(5)
top_5_companies

In [ ]:
top_5_positions = jobs['Position'].value_counts().nlargest(5)
top_5_positions